/* Media query to adjust text and image sizes on smaller screens to ensure readability */

/* 870 pixels to 1140 pixels */
@media only screen and (max-width: 1140px) {
    body p, .nav_bar, .media_bar, main li>p.return {
        font-size: clamp(0.1rem, 1.2vw, 2.5rem);
    }

    h1 {
        font-size: clamp(0.7rem, 2.3vw, 2.5rem);
    }
    h2 {
        font-size: clamp(0.7rem, 2.3vw, 2.5rem);
    }
    h3 {
        font-size: clamp(0.3rem, 1.8vw, 2.5rem);
        clear: both;
    }

    main li>img {
        margin: 0.5em 0.5em 0.5em 0;
        padding: 0.5em 1em 0.5em 0;
        float: left;
        width: 15%;
    }
    main ul#book_list li>img, main ul#movie_list li>img, main ul#tv_list li>img, main ul#games_list li>img, main ul#audio_list li>img {
        margin: 0.5em 0.5em 0.5em 0;
        padding: 0.5em 1em 0.5em 0;
        float: left;
        width: 26%;
    }

    main ul#book_list p, main ul#movie_list p, main ul#tv_list p, main ul#games_list p, main ul#audio_list p {
        font-size: clamp(0.1rem, 1.2vw, 2.5rem);
    }

    li::marker {
    font-size: clamp(0.1rem, 2vw, 2.5rem);
    margin-right: 0em;
    }
}

/* 566 pixels to 869 pixels */
@media only screen and (max-width: 869px) {
    h1#works1 {
        font-size: clamp(0.7rem, 2vw, 2.5rem);
    }

    main li>img { min-width: 12%; }
    
    main ul#book_list, main ul#movie_list, main ul#tv_list, main ul#games_list, main ul#audio_list {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        grid-gap: 0.5em 0.5em;
        font-size: clamp(0.1rem, 1.5vw, 2.5rem);
        padding: 0.2em;
        margin: 0.2em;
    }
    main ul#book_list h3, main ul#movie_list h3, main ul#tv_list h3, main ul#games_list h3, main ul#audio_list h3 {
        font-size: clamp(0.3rem, 2vw, 2.5rem);
        padding: 0.2em;
        margin: 0.2em;
    }
    main ul#book_list li>img, main ul#movie_list li>img, main ul#tv_list li>img, main ul#games_list li>img, main ul#audio_list li>img {
        margin: 0.5em 0.5em 0.5em 0;
        padding: 0.5em 1em 0.5em 0;
        float: left;
        width: 18%;
    }
    main ul#book_list p, main ul#movie_list p, main ul#tv_list p, main ul#games_list p, main ul#audio_list p {
        font-size: clamp(0.1rem, 1.2vw, 2.5rem);
        padding: 0.2em;
        margin: 0.2em;
    }

    h2#works2 {
        font-size: clamp(0.7rem, 2vw, 2.5rem);
    }
    
    footer div {
        font-size: clamp(0.1rem, 1.5vw, 1.5rem);
    }
}

/* 501 pixels to 565 pixels */
@media only screen and (max-width: 565px) {
    h1 {
        font-size: clamp(0.55rem, 1.9vw, 2.5rem);
    }
    h2 {
        font-size: clamp(0.55rem, 1.9vw, 2.5rem);
    }
    h3 {
        font-size: clamp(0.2rem, 1vw, 2.5rem);
        clear: both;
    }
    
    #interacted_works, #to_be_explored {
        padding: 0.5em;
    }
}

/* 500 pixels or less */
@media only screen and (max-width: 500px) {
    h1 {
        font-size: clamp(0.4rem, 1.7vw, 2.5rem);
    }
    h2 {
        font-size: clamp(0.4rem, 1.7vw, 2.5rem);
    }
}