/* Font information to include various uncommon fonts used in the website */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ultra";
  src: url("../fonts/Ultra-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Faculty Glyphic Regular";
  src: url("../fonts/FacultyGlyphic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quantico";
  src: url("../fonts/Quantico-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nova Square";
  src: url("../fonts/NovaSquare-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quintessential";
  src: url("../fonts/Quintessential-Regular.ttf") format("truetype");
}

/* General Styles for the Website */
html {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 90) 0%,
    rgb(195, 210, 210) 12%,
    rgb(0, 0, 90) 25%,
    rgb(195, 210, 210) 36%,
    rgb(0, 0, 90) 50%,
    rgb(195, 210, 210) 62%,
    rgb(0, 0, 90) 75%,
    rgb(195, 210, 210) 86%,
    rgb(0, 0, 90) 100%
  );
}

/*Formatting of the body of the webpage*/
body {
  background-color: rgb(195, 210, 210);
  color: rgb(0, 0, 139);
  margin: 1em 2.5em 1em;
  padding: 0.1em 2em 0.5em;
  border: 5px solid rgb(100, 105, 104);
  border-radius: 30px;
  max-width: 1600px;
}
body p {
  font-size: 1.2em;
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
  text-align: center;
}

/* Header and Title Formatting */
header h1 {
  text-align: center;
}
header p {
  font-size: smaller;
  text-align: center;
}

h1 {
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

/* Main Content Formatting */
main li > img {
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em 1em 0.5em 0;
  float: left;
  clear: both;
  width: 19.93633%;
}
main ul#book_list li > img,
main ul#movie_list li > img,
main ul#tv_list li > img,
main ul#games_list li > img,
main ul#audio_list li > img {
  display: block;
  float: left;
  clear: both;
  width: 26%;
}

main li > p {
  padding: 0.5em 1em 0.5em;
}
main li > p.return {
  font-size: 1em;
}
main ul li > div {
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
}

main audio {
  width: 40%;
  height: auto;
  max-width: 400px; /* Optional: set a max width */
  display: block;
  margin: 0 auto; /* Optional: center the player */
}

h2 {
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}

li.sci-fi > h3 {
  font-family: "Audiowide", sans-serif;
}
li.fantasy > h3 {
  font-family: "Quintessential", sans-serif;
}

h3 {
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em 1em 0.5em 0;
  font-size: 1.8em;
  clear: both;
}

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
}

/* Beginning of id styles - alphabatized */
#book_list,
#movie_list,
#tv_list,
#games_list,
#audio_list {
  /* ul element styles for each media type and their respective webpages */
  list-style-type: none;
  padding: 0.5em;
  text-align: center;
}

#chip,
#wand {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

#citation {
  font-size: 1em;
  text-align: center;
}

#current {
  text-decoration: none;
}

#media_types {
  font-weight: bold;
  font-size: 1.4em;
}

#tune_in {
  clear: both;
  text-align: center;
}

#wikipedia {
  width: 1em;
  height: 1em;
}

/* Beginning of class styles *************
******************************************
Class styles for each ul list item type */
.fantasy {
  list-style-type: "\1FA84";
}
.sci-fi {
  list-style-type: "\1F680";
}
.top3 {
  list-style-type: "\1F44D";
}

.li_books {
  font-family: "Lora", "Open Sans", sans-serif;
}
.li_movies {
  font-family: "Ultra", Impact, sans-serif;
}
.li_tvshows {
  font-family: "Faculty Glyphic Regular", Helvetica, sans-serif;
}
.li_videogames {
  font-family: "Orbitron", "Press Start 2P", sans-serif;
}
.li_audiobooks {
  font-family: Garamond, Times, sans-serif;
}

/* Media navigation bar styles */
.media_bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.2em 0.5em 0.5em;
  margin-top: 0;
  border-bottom: 2px solid rgb(0, 0, 139);
  font-weight: bold;
  font-size: 1em;
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
}
.media_bar li {
  text-align: center;
  padding: 0.5em 1em 0.5em;
}
.media_bar li a.current {
  text-decoration: none;
}

/* Navigation bar styles */
.nav_bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.5em 0.5em 0.2em;
  margin-bottom: 0.1em;
  border-top: 2px solid rgb(0, 0, 139);
  font-weight: bold;
  font-size: 1em;
  font-family: "Nova Square", "Quantico", "Audiowide", sans-serif;
}
.nav_bar li {
  text-align: center;
  padding: 0.5em 1em 0.5em;
}
.nav_bar li a.current {
  text-decoration: none;
}

/* Pseudoclass styles */
a:link {
  color: rgb(134, 47, 168);
  text-decoration: underline;
}
a:visited {
  color: rgb(214, 5, 211);
  text-decoration: underline;
}
a:hover {
  color: rgb(23, 151, 0);
  text-decoration: underline;
}
a:active {
  color: rgb(213, 216, 0);
  text-decoration: underline;
}

a#wiki:link {
  color: rgb(230, 230, 230);
  text-decoration: none;
}
a#wiki:visited {
  color: rgb(119, 119, 119);
  text-decoration: none;
}
a#wiki:hover {
  color: rgb(179, 210, 5);
  text-decoration: underline;
}
a#wiki:active {
  color: rgb(112, 131, 3);
  text-decoration: underline;
}
