/* Styles for both sections of the works page */
#interacted_works {
    width: 34.11158%; /*Original 450px -> (450 / 1319.2) * 100 */
    float: left;
    text-align: center;
    padding: 0.5em;
    border: 4px solid rgb(100, 105, 104);
}

#to_be_explored {
    width: 34.11158%; /*Original 450px -> (450 / 1319.2) * 100 */
    float: right;
    text-align: center;
    padding: 0.5em;
    border: 4px solid rgb(100, 105, 104);
}