@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ultra';
    src: url('fonts/Ultra-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Faculty Glyphic Regular';
    src: url('fonts/FacultyGlyphic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quantico';
    src: url('fonts/Quantico-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Audiowide';
    src: url('fonts/Audiowide-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nova Square';
    src: url('fonts/NovaSquare-Regular.ttf') format('truetype');
}

body {
    color: rgb(0, 0, 139);
    margin-left: 2.5em;
    margin-right: 2.5em;
}

body p {
    font-size: 1.4em;
    font-family: 'Nova Square', 'Quantico', 'Audiowide', sans-serif;
}

h1, h2 {
    font-family: 'Nova Square', 'Quantico', 'Audiowide', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

a:link {
    color: rgb(0, 139, 130);
    text-decoration: none;
}
a:visited {
    color: rgb(214, 5, 211);
    text-decoration: none;
}
a:hover {
    color: rgb(23, 151, 0);
    text-decoration: underline
}
a:active {
    color: rgb(213, 216, 0);
    text-decoration: underline;
}

#media_types {
    font-weight: bold;
    font-size: 1.4em;
}

.top3 {
    list-style-type: "\1F44D";
}

.li_books {
    font-family: 'Lora', 'Open Sans', sans-serif;
}

.li_movies {
    font-family: 'Ultra', Impact, sans-serif;
}

.li_tvshows {
    font-family: 'Faculty Glyphic Regular', Helvetica, sans-serif;
}

.li_videogames {
    font-family: 'Orbitron', 'Press Start 2P', sans-serif;
}

.li_audiobooks {
    font-family: Garamond, Times, sans-serif;
}